<form #form="ngForm">
    <label>
        Nome:
        <input type="text" name="nome" ngModel>
    </label>

    <br/>
    <br/>

    <label>
        Masculino:
        <input type="radio" value="Masculino" name="sexo" ngModel>
    </label>

    <br/>
    <br/>

    <label>
        Feminino:
        <input type="radio" value="Feminino" name="sexo" ngModel>
    </label>

    <br/>
    <br/>

    <label>
        Não Binario:
        <input type="radio" value="Nao Binario" name="sexo" ngModel>
    </label>

    <br/>
    <br/>
</form>

<br/>
<br/>
{{ form.value | json }}
